$circle-size: 40px;

.container {
  height: 1000vh;

  > .background {
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  > .section {
    > h1 {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  > .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
    position: fixed;
    inset: 0;
  }
}
