$max-mdm: 767.98px;
$circle-size: 40px;
$ramp: #1c1b18;
$contrary: #fefcff;
$michigan: #f7cb46;

.container {
  height: 1000vh;
  height: 1000lvh;

  > .progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    transform-origin: left;
  }

  h1 {
    font-weight: 800;
  }

  > .hero {
    position: fixed;
  }

  > .outerSection {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;

    > .rampSection,
    > .contrarySection,
    > .michiganSection {
      min-width: 0;
      max-width: 600px;
      margin: 0 32px;
      pointer-events: all;

      @media (max-width: $max-mdm) {
        max-width: 500px;
      }

      > h1 {
        margin-top: 32px;

        @media (max-width: $max-mdm) {
          font-size: 24px;
        }
      }

      > .underline {
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        transform-origin: 0%;
        margin: 12px 0;

        @media (max-width: $max-mdm) {
          height: 3px;
        }
      }

      > p {
        font-weight: 500;
        margin: 16px 0;
        line-height: 28px;

        &:last-of-type {
          margin-bottom: 0;
        }

        @media (max-width: $max-mdm) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    > .rampSection {
      color: $ramp;

      > .underline {
        background: $ramp;
      }
    }

    > .contrarySection {
      color: $contrary;

      > .underline {
        background: $contrary;
      }
    }

    > .michiganSection {
      color: $michigan;

      > .underline {
        background: $michigan;
      }
    }
  }

  > .footer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    height: 100lvh;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    > .footerCenter {
      min-width: 0;
      max-width: 500px;
      margin: 0 32px;

      > .underlineA,
      > .underlineB {
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: #eeeeee;
        margin: 20px 0;

        @media (max-width: $max-mdm) {
          height: 2px;
        }
      }

      > .underlineA {
        transform-origin: 0%;
      }

      > .underlineB {
        transform-origin: 100%;
      }

      > p,
      > a {
        font-weight: 500;
        margin: 16px 0;
        line-height: 28px;

        @media (max-width: $max-mdm) {
          font-size: 14px;
          line-height: 24px;
        }
      }

      > .links {
        display: flex;
        justify-content: center;
        gap: 6px;

        > a {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
