$circle-size: 40px;

.container {
  > .background {
    position: fixed;
    inset: 0;
  }

  > .heroSection {
    height: 200vh;
  }

  > .rampSection {
    height: 200vh;
  }

  > .contrarySection {
    height: 200vh;
  }

  > .michiganSection {
    height: 200vh;
  }

  > .footerSection {
    height: 200vh;
  }
}
