.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100lvh;

  > .links {
    display: flex;
    gap: 6px;
    position: fixed;
    left: 50%;
    z-index: 10;
    top: 65lvh;

    > a {
      width: 48px;
      height: 48px;
    }

    @media (max-width: 767.98px) {
      top: 60lvh;

      > a {
        width: 32px;
        height: 32px;
      }
    }
  }

  > .arrowUp,
  > .arrowDown {
    position: fixed;
    left: 50%;
    color: #eeeeee;
    width: 64px;
    height: 64px;
  }

  > .arrowUp {
    top: 0svh;
  }

  > .arrowDown {
    top: 100svh;
  }
}
