.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    color: transparent;
    width: clamp(calc(620px / 2), calc(620vw / 10), 620px);
    text-align: center;
    font-size: clamp(calc(64px / 2), calc(64vw / 10), 64px);

    &:first-of-type,
    &:last-of-type {
      font-size: clamp(calc(96px / 2), calc(96vw / 10), 96px);
    }

    &:not(:last-of-type) {
      background-clip: text !important;
    }
  }

  > .links {
    position: absolute;
    display: flex;
    gap: 6px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%)
      translateY(clamp(calc(96px / 2), calc(96vw / 10), 96px));

    > a {
      width: clamp(calc(48px / 2), calc(48vw / 10), 48px);
      height: clamp(calc(48px / 2), calc(48vw / 10), 48px);
    }
  }

  > .arrowUp,
  > .arrowDown {
    position: fixed;
    left: 50%;
    color: #eeeeee;
    width: 64px;
    height: 64px;
  }

  > .arrowUp {
    top: 0;
  }

  > .arrowDown {
    top: 100vh;
    top: 100svh;
  }
}
