.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    position: absolute;
    z-index: 10;
    color: transparent;
    width: clamp(calc(603px / 2), calc(603vw / 10), 603px);
    text-align: center;

    &:nth-of-type(1) {
      font-size: clamp(calc(96px / 2), calc(96vw / 10), 96px);
    }

    &:nth-of-type(2) {
      font-size: clamp(calc(66px / 2), calc(66vw / 10), 66px);
    }

    &:nth-of-type(3) {
      font-size: clamp(calc(76px / 2), calc(76vw / 10), 76px);
    }

    &:nth-of-type(4) {
      font-size: clamp(calc(75px / 2), calc(75vw / 10), 75px);
    }

    &:nth-of-type(5) {
      font-size: clamp(calc(96px / 2), calc(96vw / 10), 96px);
    }
  }

  > .links {
    position: absolute;
    display: flex;
    gap: 6px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%)
      translateY(clamp(calc(96px / 2), calc(96vw / 10), 96px));

    > a {
      width: clamp(calc(48px / 2), calc(48vw / 10), 48px);
      height: clamp(calc(48px / 2), calc(48vw / 10), 48px);
    }
  }

  > .arrowUp,
  > .arrowDown {
    position: fixed;
    left: 50%;
    color: #eeeeee;
    width: 64px;
    height: 64px;
  }

  > .arrowUp {
    top: 0svh;
  }

  > .arrowDown {
    top: 100svh;
  }
}
